requests==2.31.0
beautifulsoup4==4.12.3
PyMuPDF==1.24.3
langchain==0.2.6
langchain-community==0.2.6
langchain-groq==0.1.6
groq==0.9.0
langgraph==0.1.14
sentence-transformers==3.0.1
chromadb==0.5.3
streamlit==1.36.0
python-dotenv==1.0.1
tqdm==4.66.4
pandas==2.2.2
ragas==0.1.14
datasets==2.20.0
rank-bm25==0.2.2
